body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3 {
  margin-bottom: 15px;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

a:hover {
  text-decoration: underline;
}
